# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
**/__pycache__/

# Local development settings
.env

# Editor/IDE specific files
.idea/
.vscode/

# Dependency directories
venv/
env/

# Compiled Python files
*.pyc

# Caches
__pycache__/
.cachetools/

# Log files
*.log

# Environment variables file
.env

# SQLite database files
*.sqlite3
